<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACD2ICR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ACD2ICR.Properties.Settings>
            <setting name="DBServer" serializeAs="String">
                <value>192.168.1.163</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>icresponse</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>remoter</value>
            </setting>
            <setting name="DBPass" serializeAs="String">
                <value>A9m1n</value>
            </setting>
            <setting name="ACDLoginUrl" serializeAs="String">
                <value>https://acd2.ststelecom.com/QueueManager/Login.php?ret_link=%2FQueueManager%2Fagent_ctl.php&amp;type=notLogged&amp;ccsForm=Login</value>
            </setting>
            <setting name="ACDActivityMonitorUrl" serializeAs="String">
                <value>https://acd2.ststelecom.com/QueueManager/activity_monitor.php</value>
            </setting>
            <setting name="ACDGoBusy" serializeAs="String">
                <value>https://acd2.ststelecom.com/QueueManager/ReadyBusy.php?paused=0</value>
            </setting>
            <setting name="ACDGoReady" serializeAs="String">
                <value>https://acd2.ststelecom.com/QueueManager/ReadyBusy.php?paused=1</value>
            </setting>
            <setting name="DBInsertRecord" serializeAs="String">
                <value>INSERT INTO acd2icr (name, phone, status, lastcall, callstoday, missedtoday, date) VALUES (?name, ?phone, ?status, ?lastcall, ?callstoday, ?missedtoday, CURDATE())</value>
            </setting>
        </ACD2ICR.Properties.Settings>
    </applicationSettings>
</configuration>